/.idea
/.vscode
/basedatos
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
**/.DS_Store
composer.lock
.env
.env.local
.env.testing
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
package-lock.json
yarn-error.log